
<div class="body">
<br><br><br>
<p style="font-family: 'Times New Roman'sans-serif; font-size:70px; font-weight: 500;color: rgb(250, 244, 244); text-align:center">Customer Details</p>
<div class="table-wrapper-scroll-y pl-5 pr-5">
    <table class="table table-bordered table-striped">
      <thead>
        <tr bgcolor="#FF0000">
          
          <th scope="col" style="font-family: 'ZCOOL XiaoWei', sans-serif; font-weight:600; font-size: 32px ; text-align:center;">Customer Name</th>
          <th scope="col" style="font-family: 'ZCOOL XiaoWei', sans-serif; font-weight:600; font-size: 32px ;text-align:center;">Customer Address</th>
          <th scope="col" style="font-family: 'ZCOOL XiaoWei', sans-serif; font-weight:600; font-size: 32px ;text-align:center;">Email</th>
          <th scope="col" style="font-family: 'ZCOOL XiaoWei', sans-serif; font-weight:600; font-size: 32px ;text-align:center;">Remove</th>
          
        </tr>
      </thead>
      <tbody bgcolor="#FF3333">
        <tr *ngFor="let customer of customers ">
          
            <td scope="col" style="font-family: 'ZCOOL XiaoWei', sans-serif; padding-top: 50px;text-align:center;font-weight:bold;" ><h3>{{ customer .name}}</h3></td>
            <td scope="col" style="font-family: 'ZCOOL XiaoWei', sans-serif; padding-top: 50px;text-align:center;font-weight:bold;" ><h3>{{ customer .address}}</h3></td>
            <td scope="col" style="font-family: 'ZCOOL XiaoWei', sans-serif; padding-top: 50px;text-align:center;font-weight:bold;"><h3>{{ customer .email}}</h3></td>
            <td scope="col" style="font-family: 'ZCOOL XiaoWei', sans-serif; padding-top: 50px;font-weight:500;text-align:center;font-weight:bold;"><button type="button" class="btn btn-dark" (click)="Removecus(customer._id,customer.email)" >Remove</button>
        </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-secondary btn-sm btn-block" style="color:black;background-color:rgb(238, 162, 139);"(click)="resowner()">View Restaurant Owner Details</button>
  </div>
</div>
