.body{
    background-image: url('../../assets/images/170407161409-les-papilles-super-169.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    width: auto;
    height: 1000px;
    align-items: center;
    align-content: center;

}
.heading{
    font-family:'Crete-Round', serif;
    font-weight: 1000px;
    font-size: 100px;
    color: rgb(252, 252, 252);
    margin-left:200px;
}
